// * {
//     border: 1px red dashed;
// }

// p {
//     margin: 0;
// }

$link: darkslategrey;

body {
    background: white;
    font-family: Arial;
    color: darkslategray;
    margin-top: 50px;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.column {
    width: 45.4%;
    height: 100%;
    display: inline-block;
    vertical-align:top;
    // border: 1px solid gray;
    padding: 0;
    margin: 0;
}

.heading {
    text-align: center;
    font-size: 3em;
    margin-bottom: 75px;
}
.sub-heading {
    text-align: center;
}

.info {
    // text-align: center;
    margin: 0 auto;
    max-width: 50%;
    
}

#textInput {
    width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
}

#right-column {
    padding-left: 5%
}

h1#heading {
    margin-top: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    vertical-align: middle;
    width: 100%;
    margin: 0, auto;
    }

table, th, td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e8e8e8;
}

img {
  width: 30px;
  height: 30px;
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}


/* unvisited link */
// a {
//     &:link {
//         color: $link;
//     }

//     /* visited link */
//     &:visited {
//         color: $link;
//     }

//     /* mouse over link */
//     &:hover {
//         color: grey;
//     }
// }

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

/* small screens */
@media only screen and (max-width : 900px) {
    .column {
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align:top;
        // border: 1px solid gray;
        padding: 0;
        margin: 0;
    }

    h1#heading {
        margin-top: 50px;
    }

    #right-column {
        padding-left: 0%
    }
}
